- if @album != nil
  - @album.photos.each do |photo|
    = image_tag photo.file.thumb
= simple_form_for(rails_admin.multiple_upload_url(model_name: @abstract_model.to_param, object: @object), method: 'post', html: { multipart: true }) do |f|
  = f.input :album_id, :as => :hidden, :input_html => { :name => "album_id", :value => @object.id }
  = file_field_tag('album_photos_file', multiple: true, name: "album[photos_attributes][][file]")
  %br
  %br
  = f.submit :submit, value: 'Upload', name: 'Upload', :class => 'btn btn-primary'
